:root {
    --destaque: #ec2356;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right top, #d16ba5, #cd6fb2, #c873bf, #c078cc, #b67ed8, #a38fea, #8d9ff7, #76adff, #61c6ff, #68dbff, #86eefe, #adfffa);
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100svw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    /* height: 75%; */
    font-size: 55px;
    width: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 20px 0px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: var(--destaque);
    color: white;
    box-sizing: border-box;
    margin: 0px 0px 0px 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

button:hover {
    cursor: pointer;
}

#inputTexto {
    box-sizing: border-box;
    padding: 15px;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    border: 0;
}

.checkBox {
    margin-right: 10px;
}

#lista {
    display: flex;
    flex-direction: column;
    max-height: 60%;
    width: 100%;
    max-width: 400px;
    height: 55%;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
}

.botaoDeletar {
    color: white;
    background-color: transparent;
}

.botaoDeletar:hover {
    color: var(--destaque);
}

.feito {
    text-decoration: line-through;
}

.itemLista {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

p.itemLista {
    width: 100%;
    overflow: auto;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

::-webkit-scrollbar {
    display: none;
}