:root {
    --tema: linear-gradient(to right top, #e86284, #df75b6, #c38edf, #9ca7f7, #73bcff);
    --destaque: #ec2356;
    --translucido: rgb(255, 255, 255, 0.3);
    --translucidoPreto: rgb(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--tema);
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

h1 {
    font-size: 55px;
    font-family: 'Bad Script', cursive;
    color: white;
    text-shadow: 2px 2px var(--destaque);
    text-align: center;
    display: flex;
    align-items: center;
}

h2 {
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    font-weight: normal;
    height: 50px;
}

p {
    font-family: 'Shadows Into Light Two';
    font-size: 25px;
    color: white;
}

span {
    color: white;
    font-size: 25px;
}

form {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: var(--destaque);
    font-family: 'Shadows Into Light Two', cursive;
    color: white;
    box-sizing: border-box;
    min-width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.icon {
    min-width: 0;
    width: auto;
    height: auto;
    background-color: transparent;
}

#inputTexto {
    box-sizing: border-box;
    margin-right: 15px;
    padding: 15px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 0;
    transition: all 0.3s;
}

#lista {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 20px;
    width: 60%;
    height: 70%;
    max-height: 70%;
    border: 0;
    border-radius: 25px;
    background-color: var(--translucidoPreto);
    overflow-y: auto;
    box-sizing: border-box;
}

.checkBox {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin-right: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.3s;
}

.checkBox:hover {
    background-color: var(--translucido);
}

.checkBox:checked {
    background-color: white;
}

.itemLista {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    transition: all 0.3s;
}

p.itemLista {
    cursor: all-scroll;
    overflow-x: auto;
}

.botaoDeletar {
    margin-left: 20px;
    color: white;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 10px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin: 0 20px;
    text-shadow: 0 0 30px black;
    text-align: center;
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 25px;
    transition: all 0.3s;
    border: 0;
}

dialog::backdrop {
    background: rgb(0, 0, 0, 0.5);
}

div.modal {
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.modal {
    color: black;
}

a {
    text-decoration: none;
    color: var(--destaque);
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    margin: 10px;
}

.temas {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.3s;
}

div.temas {
    box-sizing: border-box;
    height: 50px;
    margin: 10px;
}

#tema1 {
    background-image: linear-gradient(to right top, #e86284, #df75b6, #c38edf, #9ca7f7, #73bcff);
    border: 1px solid #ec2356;
}

#tema2 {
    background-image: linear-gradient(to right top, #49e2ee, #14f0db, #4bfab5, #8eff82, #d2ff47);
    border: 1px solid #4A56C4;
}

#tema3 {
    background-image: linear-gradient(to right top, #fff277, #ffbc57, #ff7b6b, #ff36a0, #d633df);
    border: 1px solid #C900D4;
}

button.ok {
    box-sizing: border-box;
    font-size: 15px;
    margin: 10px;
}

button.ok:hover {
    color: white;
}

.feito {
    text-decoration: line-through;
}

.clicavel {
    cursor: pointer;
    transition: all 0.3s;
}

.clicavel:hover {
    transform: rotate(10deg);
    scale: 1.2;
    color: var(--destaque);
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: white;
    color: var(--destaque);
}

::-moz-selection {
    background: white;
    color: var(--destaque);
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    
    nav{
        width: 80%;
    }

    h1 {
        font-size: clamp(30px, 10vw, 50px);
    }

    #lista {
        margin-top: 0;
        margin-bottom: 50px;
        width: 80%;
        
    }

    p.footer {
        font-size: 15px;
        margin: 0;
    }

    span.footer {
        margin: 0 10px;
    }
}